<html><head>
    <meta name="go-import" content="hawton.io/{{.pkg}}
        git {{.git_base}}/{{.pkg}}">
    <meta name="go-source" content="hawton.io/{{.pkg}}
        {{.git_base}}/{{.pkg}}
        {{.git_base}}/{{.pkg}}/tree/main{/dir}
        {{.git_base}}/{{.pkg}}/blob/main{/dir}/{file}#L{line}">
</head></html>